Client/.idea/workspace.xml
Client/.settings
Client/.settings/
Client/gen
Client/bin
Client/.settings
Client/.idea
Client/bin/*
Client/bin/*
Client/gen/*
Client/libs/*
Client/libs/*
Client/.classpath
Client/.project
Client/lint.xml
Client/project.properties
Client/.idea/workspace.xml
Client/bin/classes/Bluetooth.apk