.idea/
.idea/workspace.xml
/.idea/*
/.idea/*.xml
.idea/*
.idea/*.xml
/.idea/workspace.xml
.idea_modules/
.settings/*
out/
bin/*
/bin/*
gen/*
libs/*
/libs/*
.classpath
.project
Bluetoot.iml
lint.xml
project.properties
bin/classes/Bluetooth.apk